{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glitter | Home</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-5.2.0-beta1-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.css' %}">
</head>
<body> 
    <section class="header">
        <!-- ANIMATIONS -->
        <div class="animations-container">
            <img src="../../static/Images/advert-image-1.jpg" alt="Advert Image" />
            <img src="../../static/Images/advert-image-1.jpg" alt="Advert Image" />
            <img src="../../static/Images/advert-image-1.jpg" alt="Advert Image" />
            <img src="../../static/Images/advert-image-1.jpg" alt="Advert Image" />
        </div>

        <!-- OVERLAY -->
        <div class="overlay">
            <!-- OVERLAY FIRST SECTION -->
            <div class="overlay-first-section">
                <!-- LOGO SECTION -->
                <div class="logo__section">
                    <img src="../../static/Images/projectx-logo.png" alt="Logo" />
                    <p>Babies <span>Corner</span></p>
                </div>

                <!-- NAVIGATION -->
                <i id="nav-open" class="fa fa-bars"></i>

                <nav id="nav">
                    <i id="nav-close" class="fa fa-close"></i>

                    <a href="/" class="nav__links">HOME</a>
                    <a href="/" class="nav__links">SHOP</a>
                    <a href="/" class="nav__links">FAQ</a>
                    <div>
                        <a href="/"><i id="icon" class="fa fa-shopping-cart"></i></a>
                        <a href="/"><i id="icon" class="fa fa-user"></i></a>
                    </div>

                </nav>
            </div>

            <div class="overlay-second-section">
                <h1>YOUR NO. 1 BABY STORE</h1>
                <p>MAKING YOUR BABY STAND OUT</p>
                <input class="search__box" type="text" placeholder="Search products, categories, brands" />
            </div>
        </div>
    </section>

    <section class="container-fluid" id="categories">
            <a href="{% url 'category' Food %}" class="category">
                <p class="category__name">BEST DEALS</p>
                <img class="category__image" src="../../static/Images/baby-foods.jpg" alt="Category Image" />
                <a class="category__link" href="">Shop Now</a>
            </a>

            <a href="{% url 'category' Accessories %}" class="category__mini">
                <p class="category__name">ACCESSORIES</p>
                <img class="category__image" src="../../static/Images/baby-cosmetics-II.jpeg" alt="Category Image" />
                <a class="category__link" href="">Shop Now</a>
            </a>

            <a href="{% url 'category' Hats %}" class="category__mini">
                <p class="category__name">HATS</p>
                <img class="category__image" src="../../static/Images/baby-caps-hats.jpg" alt="Category Image" />
                <a class="category__link" href="">Shop Now</a>
            </a>

            <a href="{% url 'category' Shoes %}" class="category__mini">
                <p class="category__name">SHOES</p>
                <img class="category__image" src="../../static/Images/baby-shoes.png" alt="Category Image" />
                <a class="category__link" href="">Shop Now</a>
            </a>

            <a href="{% url 'category' Clothes %}" class="category__mini">
                <p class="category__name">CLOTHES</p>
                <img class="category__image" src="../../static/Images/baby-clothes.jpg" alt="Category Image" />
                <a class="category__link" href="">Shop Now</a>
            </a>

            <a href="{% url 'category' Food %}" class="category__mini">
                <p class="category__name">FOODS</p>
                <img class="category__image" src="../../static/Images/baby-foods.jpg" alt="Category Image" />
                <a class="category__link" href="">Shop Now</a>
            </a>

            <a href="{% url 'category' Winter %}" class="category__mini">
                <p class="category__name">WINTER</p>
                <img class="category__image" src="../../static/Images/baby-winter.jpg" alt="Category Image" />
                <a class="category__link" href="">Shop Now</a>
            </a>

            <a href="{% url 'category' Diapers %}" class="category__mini">
                <p class="category__name">DIAPERS</p>
                <img class="category__image" src="../../static/Images/baby-diapers.jpg" alt="Category Image" />
                <a class="category__link" href="">Shop Now</a>
            </a>

            <a href="{% url 'category' Toys %}" class="category__mini">
                <p class="category__name">TOYS</p>
                <img class="category__image" src="../../static/Images/baby-toys.jpg" alt="Category Image" />
                <a class="category__link" href="">Shop Now</a>
            </a>

            <a href="{% url 'category' Rooms %}" class="category__mini">
                <p class="category__name">ROOMS</p>
                <img class="category__image" src="../../static/Images/baby-rooms.jpg" alt="Category Image" />
                <a class="category__link" href="">Shop Now</a>
            </a>

            <a href="{% url 'category' Cots %}" class="category__mini">
                <p class="category__name">COTS</p>
                <img class="category__image" src="../../static/Images/baby-cots.jpg" alt="Category Image" />
                <a class="category__link" href="">Shop Now</a>
            </a>
    </section>

    <!-- FOOTER -->
    <footer class="page_footer">
        <div class="page-footer-flex">
            <div class="New_page">
                <h5>Are you new on Tastetee?</h5>
                <p>Think you will like Tastetee premium</p>
    
                <form class="form">
                    <input id="form" type="email" placeholder="Enter email address" />
                    <button id="button" type="submit">
                        <p>Sign up</p>
                    </button>
                </form>
    
                <div class="icons">
                    <a href="/"><i id="payment" class="fa fa-paypal"></i></a>
                    <a href="/"><i id="payment" class="fa fa-cc-mastercard"></i></a>
                    <a href="/"><i id="payment" class="fa fa-cc-visa"></i></a>
                </div>
            </div>
    
            <div class="footer-category">
                <h5 class="dee">Let us help you</h5>
                <li><a href="/">How to shop</a></li>
                <li><a href="/">Delivery options</a></li>
                <li><a href="/">How to cancel an order</a></li>
                <li><a href="/">Report a product</a></li>
                <li><a href="/">Dispute resolution</a></li>
                <li><a href="/">Create bulk purchase</a></li>
            </div>
    
            <div class="footer-category">
                <h5>About tastetee</h5>
                <li><a href="/">About us</a></li>
                <li><a href="/">Tastetee express</a></li>
                <li><a href="/">Terms and conditons</a></li>
                <li><a href="/">Privacy and cookies</a></li>
                <li><a href="/">Flash sales</a></li>
                <li><a href="/">Tastetee prime</a></li>
            </div>
    
            <div class="footer-category">
                <h5>Tastetee Branches</h5>
                <li><a href="/">Abuja</a></li>
                <li><a href="/">Oweri</a></li>
                <li><a href="/">Lagos</a></li>
                <li><a href="/">Abuja</a></li>
                <li><a href="/">Calabar</a></li>
                <li><a href="/">Port Harcourt</a></li>
            </div>
        </div>
    
        <hr class="horizontal__line">
        
        <p class="follow__header">Follow our social media handles</p>
        <div class="Follow">
            <a href="/"><i class="fa fa-instagram"></i></a>
            <a href="/"><i class="fa fa-facebook-square"></i></a>
            <a href="/"><i class="fa fa-twitter-square"></i></a>
        </div>
    </footer>

    <script src="../../static/bootstrap-5.2.0-beta1-dist/js/bootstrap.bundle.js"></script>    
    <script src="{% static 'js/home.js' %}"></script>
</body>
</html>