<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BabiesCorner | Home</title>
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="../../static/bootstrap-5.2.0-beta1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section class="header">
        <!-- ANIMATIONS -->
        <div class="animations-container">
            <img src="../../static/Images/advert-image-1.jpg" alt="Advert Image" />
            <img src="../../static/Images/advert-image-1.jpg" alt="Advert Image" />
            <img src="../../static/Images/advert-image-1.jpg" alt="Advert Image" />
            <img src="../../static/Images/advert-image-1.jpg" alt="Advert Image" />
        </div>

        <!-- OVERLAY -->
        <div class="overlay">
            <!-- OVERLAY FIRST SECTION -->
            <div class="overlay-first-section">
                <!-- LOGO SECTION -->
                <div class="logo__section">
                    <img src="../../static/Images/projectx-logo.png" alt="Logo" />
                    <p>Babies <span>Corner</span></p>
                </div>

                <!-- NAVIGATION -->
                <i id="nav-open" class="fa fa-bars"></i>
                <nav id="nav">
                    <i id="nav-close" class="fa fa-close"></i>

                    <a href="/" class="nav__links">HOME</a>
                    <a href="/" class="nav__links">SHOP</a>
                    <a href="/" class="nav__links">FAQ</a>
                    <div>
                        <a href="/"><i id="icon" class="fa fa-shopping-cart"></i></a>
                        <a href="/"><i id="icon" class="fa fa-user"></i></a>
                    </div>
                    
                </nav>
            </div>


        </div>
    </section>

    <section class="body">
        <div class="category">
            <p class="category__name">BEST DEALS</p>
            <img class="category__image" src="../../static/Images/baby-foods.jpg" alt="Category Image" />
            <a class="category__link" href="">Shop Now</a>
        </div>

        <div class="category__mini">
            <p class="category__name">ACCESSORIES</p>
            <img class="category__image" src="../../static/Images/baby-cosmetics-II.jpeg" alt="Category Image" />
            <a class="category__link" href="">Shop Now</a>
        </div>

        <div class="category__mini">
            <p class="category__name">HATS</p>
            <img class="category__image" src="../../static/Images/baby-caps-hats.jpg" alt="Category Image" />
            <a class="category__link" href="">Shop Now</a>
        </div>

        <div class="category__mini">
            <p class="category__name">SHOES</p>
            <img class="category__image" src="../../static/Images/baby-shoes.png" alt="Category Image" />
            <a class="category__link" href="">Shop Now</a>
        </div>

        <div class="category__mini">
            <p class="category__name">CLOTHES</p>
            <img class="category__image" src="../../static/Images/baby-clothes.jpg" alt="Category Image" />
            <a class="category__link" href="">Shop Now</a>
        </div>

        <div class="category__mini">
            <p class="category__name">FOODS</p>
            <img class="category__image" src="../../static/Images/baby-foods.jpg" alt="Category Image" />
            <a class="category__link" href="">Shop Now</a>
        </div>

        <div class="category__mini">
            <p class="category__name">WINTER</p>
            <img class="category__image" src="../../static/Images/baby-winter.jpg" alt="Category Image" />
            <a class="category__link" href="">Shop Now</a>
        </div>

        <div class="category__mini">
            <p class="category__name">DIAPERS</p>
            <img class="category__image" src="../../static/Images/baby-diapers.jpg" alt="Category Image" />
            <a class="category__link" href="">Shop Now</a>
        </div>

        <div class="category__mini">
            <p class="category__name">TOYS</p>
            <img class="category__image" src="../../static/Images/baby-toys.jpg" alt="Category Image" />
            <a class="category__link" href="">Shop Now</a>
        </div>

        <div class="category__mini">
            <p class="category__name">ROOMS</p>
            <img class="category__image" src="../../static/Images/baby-rooms.jpg" alt="Category Image" />
            <a class="category__link" href="">Shop Now</a>
        </div>

        <div class="category__mini">
            <p class="category__name">COTS</p>
            <img class="category__image" src="../../static/Images/baby-cots.jpg" alt="Category Image" />
            <a class="category__link" href="">Shop Now</a>
        </div>
    </section>

    <section class="footer">

    </section>
    
    <script src="../../static/bootstrap-5.2.0-beta1-dist/js/bootstrap.bundle.js"></script>


    <script src="index.js"></script>
</body>
</html>